#map + div {
  height: 450px;
}

@media (max-width: 540px) {
  #map + div {
    height: 300px;
  }
}

@media (min-width: 1140px) {
  #map + div {
    height: 600px;
  }
}

/* carousel */

.fade-in-on-hover {
  visibility: hidden;
}

.carousel-inner img {
  object-fit: contain;
}

.carousel.slide, .carousel-inner {
  border-radius: 1.5rem;
}

.carousel-item:hover .fade-in-on-hover {
  visibility: visible;
}

@media (max-width: 480px) {
  .carousel-inner .carousel-item {
    height: 300px !important;
  }
}

@media (min-width: 480px) and (max-width: 800px) {
  .carousel-inner .carousel-item {
    height: 300px !important;
  }
}

@media (min-width: 800px) and (max-width: 1000px) {
  .carousel-inner .carousel-item {
    height: 350px !important;
  }
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .carousel-inner .carousel-item {
    height: 500px !important;
  }
}
