@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Bungee+Inline|Bungee+Shade|Diplomata|Faster+One|Knewave|Mr+Dafoe|Skranji');

@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);

.font-dafoe {
  font-family: 'Mr Dafoe', cursive, 'Nanum Pen Script', serif;
}

.font-alfa {
  font-family: 'Alfa Slab One', cursive, 'Nanum Pen Script', serif;
}

.font-bungee {
  font-family: 'Bungee Inline', cursive, 'Nanum Pen Script', serif;
}
.font-knewave {
  font-family: 'Knewave', cursive, 'Nanum Pen Script', serif;
}

.font-skranji {
  font-family: 'Skranji', cursive, 'Nanum Pen Script', serif;
}

.font-faster {
  font-family: 'Faster One', cursive, 'Nanum Pen Script', serif;
}

.font-shade {
  font-family: 'Bungee Shade', cursive, 'Nanum Pen Script', serif;
}

.font-diplomata {
  font-family: 'Diplomata', cursive, 'Nanum Pen Script', serif;
}

#map-iframe {
  height: 450px;
}

@media (max-width: 768px) {
  #map-iframe {
    height: 350px;
  }
}

@media (max-width: 540px) {
  #map-iframe {
    height: 260px;
  }
}

@media (min-width: 1140px) {
  #map-iframe {
    height: 600px;
  }
}

/* carousel */

.fade-in-on-hover {
  visibility: hidden;
}

.carousel-inner img {
  object-fit: contain;
}

.carousel.slide, .carousel-inner {
  border-radius: 1.5rem;
}

.carousel-item:hover .fade-in-on-hover {
  visibility: visible;
}

@media (max-width: 480px) {
  .carousel-inner .carousel-item {
    height: 300px !important;
  }
}

@media (min-width: 480px) and (max-width: 800px) {
  .carousel-inner .carousel-item {
    height: 300px !important;
  }
}

@media (min-width: 800px) and (max-width: 1000px) {
  .carousel-inner .carousel-item {
    height: 350px !important;
  }
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .carousel-inner .carousel-item {
    height: 500px !important;
  }
}
